<div class="container" fxLayout="row">
  <div class="column-left" fxFlex="1 1 calc(20em + 20px)" fxHide.xs fxHide.sm>
    <div class="top">
      <!-- <img src="https://www.mariowiki.com/images/thumb/1/1a/RedCoinsNSMB2.png/1200px-RedCoinsNSMB2.png"
        style="height: 150px; width: 180px; margin: 20px;"> -->
    </div>

    <div class="center" style="margin-top: 200px;">
      <!-- <h1 style="margin-top: 40px;">JOIN KUY IN POINTKUY!</h1> -->
      <img src="assets/img/logo.png" style="height: 200px; width: 250px;">
    </div>

    <div class="button">
      <!-- <img src="https://www.mariowiki.com/images/thumb/1/1a/RedCoinsNSMB2.png/1200px-RedCoinsNSMB2.png"
        style="height: 180px; width: 180px; margin: 20px;"> -->
    </div>
  </div>
  <div class="column-right" fxFlex>
    <mat-card style="height: 95%;">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div class="header">
        <!-- <img src="https://www.mariowiki.com/images/thumb/1/1a/RedCoinsNSMB2.png/1200px-RedCoinsNSMB2.png"
          style="height: 200px; width: 250px;"> -->
        <img src="assets/img/logo.png" style="height: 200px; width: 250px;">
      </div>
      <div class="login">
        <form [formGroup]="formLogin" (submit)="onLogin()" fxLayout="column" fxLayoutAlign="center center"
          fxLayoutGap="10px" *ngIf="!isLoading">
          <mat-form-field hintLabel="Email">
            <input type="text" matInput placeholder="E-mail" formControlName="email">
            <mat-error *ngIf="formLogin.get('email').invalid">Field enter Email!</mat-error>
          </mat-form-field>
          <mat-form-field hintLabel="Please Enter Password.">
            <input type="password" matInput placeholder="Password" formControlName="password"
              [type]="hide ? 'password' : 'text'">
            <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="formLogin.get('password').invalid">Missing Password!</mat-error>
          </mat-form-field>

          <button type="submit" mat-flat-button color="primary" [disabled]="formLogin.invalid"
            *ngIf="!isLoading">Login</button>
        </form>
      </div>
      <div class="footer">
        <footer>&copy; Copyright 2019 Mr.x</footer>
      </div>

    </mat-card>

  </div>
</div>
