<mat-toolbar color="primary">
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="item-left">
    <button mat-button>
      <mat-icon>card_membership</mat-icon>
      <span class="icon-caption">PoinKuy!</span>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <div class="card-notify" *ngIf="level == 2">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
        (click)="setClick()">
        <mat-icon matBadge="{{notif}}" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon color="primary">info</mat-icon>
          <span>Ayo Tingkatkan Pointmu {{point}}! </span>
          <br>
        </button>
      </mat-menu>
    </div>
  </div>
  <div>
  </div>
</mat-toolbar>
