<div class="container">
  <mat-grid-list cols="8" rowHeight="188px" gutterSize="10px">

    <mat-grid-tile colspan="3" rowspan="3" style="background:white">
      <mat-card style="height: 95%; width: 95%;">
        <mat-tab-group>
          <mat-tab label="Bulanan">
            <div class="container-bulan">
              <section class="point-bulan" fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner mode="determinate" value="{{(setBulanan / 100) * totalPointByMount}}">
                </mat-progress-spinner>
                <h1 *ngIf="((100 / setBulanan) * totalPointByMount) >= 100">100%</h1>
                <h1 *ngIf="((100 / setBulanan) * totalPointByMount) < 100">{{(100 / setBulanan) * totalPointByMount}}%
                </h1>
                <p>
                  <span>{{totalPointByMount}}</span> / <span>{{setBulanan}}</span>
                  <mat-progress-bar mode="buffer" value="{{(100 / setBulanan) * totalPointByMount}}"></mat-progress-bar>
                  <span>Total Your Point Oktober!</span>
                </p>
              </section>

              <div class="container-bulan-hadiah" *ngIf="((100 / setBulanan) * totalPointByMount) >= 100">
                <app-point-max-mount [nameUser]="name"></app-point-max-mount>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Tahunan">
            <div class="container-tahun">
              <section class="point-tahun" fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner mode="determinate" value="{{(100 /setTahunan) * totalPointByYear}}">
                </mat-progress-spinner>
                <h1>{{(100 /setTahunan) * totalPointByYear | number: '1.0-0'}}%</h1>
                <p>
                  <span>{{totalPointByYear}}</span> / <span>{{setTahunan}}</span>
                  <mat-progress-bar mode="buffer" value="{{(100 /setTahunan) * totalPointByYear}}"></mat-progress-bar>
                  <span>Total Your Point 2019!</span>
                </p>
              </section>
              <div class="container-tahun-hadiah">
                <mat-list>
                  <h3 mat-subheader>Undian Tahun 2019!</h3>
                  <mat-list-item>
                    <mat-icon mat-list-icon>check_circle</mat-icon>
                    <h4 mat-line>Menangkan Reward 1 </h4>
                    <p mat-line> Uang Tunai : Rp. 25.000.000 </p>
                    <button mat-fab color="primary">{{setTahunan}}</button>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </mat-grid-tile>

    <!-- history -->
    <mat-grid-tile colspan="5" rowspan="3" style="background:white">
      <mat-card style="height: 95%; width: 95%;">
        <mat-tab-group>
          <!-- history in -->
          <mat-tab label="History In">
            <div fxLayoutAlign="center center" class="filter">
              <mat-form-field fxFlex="40%">
                <input type="input" matInput (keyup)="doFilterIn($event.target.value)" placeholder="Search Nasabah">
              </mat-form-field>
            </div>
            <div class="example-container">
              <mat-table [dataSource]="dataSourceIn" matSort>
                <ng-container matColumnDef="sender" sticky>
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Sender</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.sender}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rekeningin">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Rekening</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.senderName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="amountin">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Mount</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element.amount | currency:"Rp "}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="bank">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Bank</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-chip-list aria-label="Fish selection">
                      <mat-chip color="primary" selected> {{element.senderBank}}</mat-chip>
                    </mat-chip-list>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="point">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Point</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="primary">+{{element.point}}</button>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="datein">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.createdAt | date}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayColumnsIn; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayColumnsIn"></mat-row>
              </mat-table>
              <!-- <mat-spinner *ngIf="isLoading"></!-->
            </div>
            <mat-paginator [length]="totalPostIn" [pageSize]="postPerpageIn" [pageSizeOptions]="pageSizeOptionIn">
            </mat-paginator>
          </mat-tab>

          <!-- history out -->
          <mat-tab label="History Out">
            <app-out></app-out>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
