<div class="container" *ngIf="level == 1">
  <mat-grid-list cols="8" rowHeight="130px" gutterSize="10px">
    <mat-grid-tile colspan="6" rowspan="4" style="background:white">
      <mat-card style="height: 98%; width: 100%; margin-top: 5px;">
        <span>Data Reward Bulan Oktober!</span>
        <app-data-reward></app-data-reward>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4" style="background:white">
      <mat-tab-group style="height: 90%; width: 90%">
        <mat-tab label="TOP 3 Transaction 2019">
          <mat-selection-list>
            <h3 mat-subheader>
              <mat-icon>graphic_eq</mat-icon>
              TOP 3 Point Tertinggi 2019
            </h3>
            <mat-list-option *ngFor="let nasabah of dataNasabah" style="margin-top: 5px;">
              <mat-icon mat-list-icon>account_circle</mat-icon>
              <h4 mat-line>{{nasabah.norek}} </h4>
              <h4 mat-line>{{nasabah.name}}</h4>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip>{{nasabah.totalPoint}} point</mat-chip>
              </mat-chip-list>
            </mat-list-option>
          </mat-selection-list>
        </mat-tab>
      </mat-tab-group>
    </mat-grid-tile>
  </mat-grid-list>
</div>



<div class="container-user" *ngIf="level == 2">
  <mat-grid-list cols="7" rowHeight="130px" gutterSize="10px">
    <mat-grid-tile colspan="3" rowspan="4" style="background:white">
      <mat-card style="height: 98%; width: 100%; margin-top: 5px;">
        <mat-card-header>
          <div mat-card-avatar class=" example-header-image">
          </div>
          <mat-card-title>{{dataUser.name}}</mat-card-title>
          <mat-card-subtitle>Rekening : {{dataUser.norek}}</mat-card-subtitle>
          <mat-card-subtitle>{{dataUser.balance | currency:"Rp "}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Bulanan">
              <div class="container-bulan">
                <section class="point-bulan" fxLayout="column" fxLayoutAlign="center center">
                  <mat-progress-spinner mode="determinate" value="{{(100 / setBulanan) * totalPointByMount}}">
                  </mat-progress-spinner>
                  <h1 *ngIf="((100 / setBulanan) * totalPointByMount) >= 100">100%</h1>
                  <div *ngIf="((100 / setBulanan) * totalPointByMount) >= 100">
                    <mat-chip-list class="mat-chip-list-stacked">
                      <mat-chip color="primary" selected>
                        <mat-icon>check_circle</mat-icon> Mengikuti Reward!
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                  <h1 *ngIf="((100 / setBulanan) * totalPointByMount) < 100">{{(100 / setBulanan) * totalPointByMount}}%
                  </h1>
                  <p>
                    <span>{{totalPointByMount}}</span> / <span>{{setBulanan}}</span>
                    <mat-progress-bar mode="buffer" value="{{(100 / setBulanan) * totalPointByMount}}">
                    </mat-progress-bar>
                    <span>Total Your Point Oktober!</span>
                  </p>
                  <p>
                    <mat-chip-list class="mat-chip-list-stacked">
                      <mat-chip color="primary" selected>
                        <mat-icon>flight_land</mat-icon> Transaksi In : {{totalHistoryIn}}
                      </mat-chip>
                      <mat-chip color="accent" selected>
                        <mat-icon>flight_takeoff</mat-icon>Transaksi Out : {{totalHistoryOut}}
                      </mat-chip>
                    </mat-chip-list>
                  </p>
                </section>
              </div>
            </mat-tab>
            <mat-tab label="Tahunan">
              <div class="container-tahun">
                <section class="point-tahun" fxLayout="column" fxLayoutAlign="center center">
                  <mat-progress-spinner mode="determinate" value="{{(100 /setTahunan) * totalPointByYear}}">
                  </mat-progress-spinner>
                  <h1>{{(100 /setTahunan) * totalPointByYear | number: '1.0-0'}}%</h1>
                  <p>
                    <span>{{totalPointByYear}}</span> / <span>{{setTahunan}}</span>
                    <mat-progress-bar mode="buffer" value="{{(100 /setTahunan) * totalPointByYear}}"></mat-progress-bar>
                    <span>Total Your Point 2019!</span>
                  </p>
                </section>
                <div class="container-tahun-hadiah">
                  <mat-list>
                    <h3 mat-subheader>Undian Tahun 2019!</h3>
                    <mat-list-item>
                      <mat-icon mat-list-icon>check_circle</mat-icon>
                      <h4 mat-line>Menangkan Reward 1 </h4>
                      <p mat-line> Uang Tunai : Rp. 25.000.000 </p>
                      <button mat-fab color="primary">{{setTahunan}}</button>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="4" style="background: white">
      <mat-tab-group style="height: 90%; width: 90%">
        <mat-tab label="Transaction in">
          <mat-selection-list>
            <h3 mat-subheader>
              <mat-icon>graphic_eq</mat-icon>
              3 Transaksi Terakhir
            </h3>
            <mat-list-option *ngFor="let inHistory of historyIn">
              <mat-icon mat-list-icon>flight_land</mat-icon>
              <h4 mat-line>{{inHistory.senderName}} / {{inHistory.sender}}</h4>
              <p mat-line>{{inHistory.createdAt | date:'medium'}}</p>
              <p mat-line>
                <span color="primary">{{inHistory.amount | currency:"Rp "}}</span>
              </p>
              <p mat-line>{{inHistory.description}}</p>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip>{{inHistory.senderBank}}</mat-chip>
              </mat-chip-list>
            </mat-list-option>
          </mat-selection-list>
        </mat-tab>

        <mat-tab label="Transaction out">
          <mat-selection-list>
            <h3 mat-subheader>
              <mat-icon>graphic_eq</mat-icon>
              3 Transaksi Out
            </h3>
            <mat-list-option *ngFor="let outHistory of historyOut">
              <mat-icon mat-list-icon>flight_takeoff</mat-icon>
              <h4 mat-line>{{outHistory.receiverName}} / {{outHistory.receiver}}</h4>
              <p mat-line>{{outHistory.createdAt | date:'medium'}}</p>
              <p mat-line>
                <span color="primary">{{outHistory.amount | currency:"Rp "}}</span>
              </p>
              <p mat-line>{{outHistory.description}}</p>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip>{{outHistory.receiverBank}}</mat-chip>
              </mat-chip-list>
            </mat-list-option>
          </mat-selection-list>
        </mat-tab>
      </mat-tab-group>
    </mat-grid-tile>
  </mat-grid-list>
</div>
